# Stock market data scrapping using yfinance.

In [1]:
# import libraries
import yfinance as yf
import pandas as pd

In [26]:
# define ticker symbol 
ticker_symbol = 'GOOGL'
# get data on this ticker
ticker_data = yf.Ticker(ticker_symbol)
# get historical market data
ticker_df = ticker_data.history(period='1d', start='2000-1-1')
# show the data
ticker_df.tail(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-05-06 00:00:00-04:00,162.169998,164.800003,161.190002,163.229996,21277200,0.0,0.0
2025-05-07 00:00:00-04:00,164.080002,165.000000,147.839996,151.380005,127490100,0.0,0.0
2025-05-08 00:00:00-04:00,155.000000,155.929993,152.899994,154.279999,57498700,0.0,0.0
2025-05-09 00:00:00-04:00,154.169998,155.050003,152.199997,152.750000,32435300,0.0,0.0
2025-05-12 00:00:00-04:00,157.490005,159.100006,156.250000,158.460007,44138800,0.0,0.0
2025-05-13 00:00:00-04:00,158.789993,160.570007,156.160004,159.529999,42382100,0.0,0.0
2025-05-14 00:00:00-04:00,159.960007,167.000000,159.610001,165.369995,48755900,0.0,0.0
2025-05-15 00:00:00-04:00,165.839996,166.210007,162.369995,163.960007,33146700,0.0,0.0
2025-05-16 00:00:00-04:00,167.729996,169.350006,165.619995,166.190002,42846900,0.0,0.0
2025-05-19 00:00:00-04:00,164.509995,166.639999,164.220001,166.539993,30363600,0.0,0.0

In [22]:
ticker_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5221 entries, 2004-08-19 00:00:00-04:00 to 2025-05-19 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          5221 non-null   float64
 1   High          5221 non-null   float64
 2   Low           5221 non-null   float64
 3   Close         5221 non-null   float64
 4   Volume        5221 non-null   int64
 5   Dividends     5221 non-null   float64
 6   Stock Splits  5221 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 326.3 KB

In [31]:
# AAPL ka 1-hour interval data last 60 days ke liye
data = yf.download(tickers='AAPL', period='60d', interval='15m')
print(data.info())
data.head()

[*********************100%***********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1560 entries, 2025-02-24 14:30:00+00:00 to 2025-05-19 19:45:00+00:00
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   1560 non-null   float64
 1   (High, AAPL)    1560 non-null   float64
 2   (Low, AAPL)     1560 non-null   float64
 3   (Open, AAPL)    1560 non-null   float64
 4   (Volume, AAPL)  1560 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 73.1 KB
None

Price,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
Datetime,,,,,
2025-02-24 14:30:00+00:00,246.070007,247.899994,244.589996,244.807999,5494181
2025-02-24 14:45:00+00:00,248.065002,248.139999,245.650101,246.065002,2748623
2025-02-24 15:00:00+00:00,247.350006,248.860001,247.229996,248.080002,3503730
2025-02-24 15:15:00+00:00,247.850006,247.884995,247.289993,247.289993,1447200
2025-02-24 15:30:00+00:00,246.179993,247.954102,246.009995,247.850006,2007029